{% load static %}
{% load custom_filters %}
    <div class="projects-section-header">
      <p>Інформація про завдання</p>
      <p class="time">{{ current_date|date:"j" }} {{ current_date|ukr_month }}</p>
    </div>
    <div class="projects-section-line">
      <div class="projects-status">
        <div class="item-status">
          <span class="status-number">45</span>
          <span class="status-type">В процесі</span>
        </div>
        <div class="item-status">
          <span class="status-number">24</span>
          <span class="status-type">Невиконані</span>
        </div>
        <div class="item-status">
          <span class="status-number">{{ total_assignments }}</span>
          <span class="status-type">Загалом</span>
        </div>
      </div>
      <div class="view-actions">
        <button class="view-btn list-view" title="List View">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
            <line x1="8" y1="6" x2="21" y2="6" />
            <line x1="8" y1="12" x2="21" y2="12" />
            <line x1="8" y1="18" x2="21" y2="18" />
            <line x1="3" y1="6" x2="3.01" y2="6" />
            <line x1="3" y1="12" x2="3.01" y2="12" />
            <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
        </button>
        <button class="view-btn grid-view active" title="Grid View">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
            <rect x="3" y="3" width="7" height="7" />
            <rect x="14" y="3" width="7" height="7" />
            <rect x="14" y="14" width="7" height="7" />
            <rect x="3" y="14" width="7" height="7" /></svg>
        </button>
      </div>
    </div>
    <div class="project-boxes jsGridView">
  {% for student_assignment in student_assignments %}
  <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #e9e7fd;">
          <div class="project-box-header">
              <span>{{ student_assignment.assignment.publication_date|date:"d F, Y" }}</span>
              <div class="more-wrapper">
                  <button class="project-btn-more">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                          <circle cx="12" cy="12" r="1" />
                          <circle cx="12" cy="5" r="1" />
                          <circle cx="12" cy="19" r="1" />
                      </svg>
                  </button>
              </div>
          </div>
          <div class="project-box-content-header">
              <p class="box-content-header">{{ student_assignment.assignment.subject.name }}</p>
              <p class="box-content-subheader">{{ student_assignment.assignment.teacher.first_name }} {{ student_assignment.assignment.teacher.last_name }}</p>
          </div>
          <div class="box-progress-wrapper">
              <p class="box-progress-header">{{ student_assignment.assignment.name }}</p>
              <p class="box-progress-header">{{ student_assignment.assignment.description }}</p>
          </div>
          <div class="project-box-footer">
              <div class="participants">
                <div class="data" style="color: #4f3ff0;">
                  До {{ student_assignment.assignment.deadline|date:"d" }} {{ student_assignment.assignment.deadline|ukr_month }}
              </div>
              </div>
              <div class="days-left" style="color: #4f3ff0;">
                  {% if student_assignment.assignment.deadline > current_date %}
                  Залиш. {{ student_assignment.days_left }} днів
                  {% else %}
                  Термін сплив
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div>

